


<div class = 'row panel github_panel'>
  <h1>Set your daily GitHub commit goal</h1>
  <div class = 'github-goal-edit'>

    <%= form_for @github_goal do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :number_of_commits %>
      <%= f.select :commit_goal, (1..10).to_a %>
      <%= f.submit 'Create Goal', class: 'button' %>
    <% end %>
  </div>
</div>
