<div id="background">
  <div id="sidebar">
    <img src='<%= @twitter_pic %>' alt="Twitter Profile Pic" class="profile_pic">
    <h5><%= @first_name %></h5>

    <% if current_user.github_goals.count == 0 %>
      <%= link_to 'GitHub Integration', github_path, class: 'button' %>
    <% end %>
    <% if @fitbit.count < 1 %>
      <%= link_to 'FitBit Integration', fitbit_path, class: 'button' %>
    <% end %>
    <%= link_to 'GoodReads Int.', new_goodread_path, class: 'button' %>


  </div>

  <div class="row services" id="github">
    <img src='/assets/github.png' alt="GitHub" id="mini_logo">
    <h5>Daily commit goal: <%= @current_github_goal %></h5>
    <h5>Commits today: <%= @todays_commits %></h5>
    <h5>Progress: </h5>
    <% if current_user.github_goals.count > 0 %>
      <div class="progress alert">
        <span class="meter" style="width: <%= @daily_progress %>%"><%= @daily_progress %>%</span>
      </div>
    <% end %>
    <h5>Current Streak:  <%= @current_streak %> | Longest Streak: <%= @longest_streak %> </h5>


  </div>
  <div class="row services" id="fitbit">
    <img src='/assets/fitbit.png' alt="FitBit" id="mini_logo">
    <div id="coming_soon">Steps Goal:<%= @fitbit_steps %></div>
    <div>Today's Steps:<%= @todays_steps %></div>
    <div>Today's Distance:<%= @todays_distance  %></div>
    <% if current_user.fitbit_goal %>
      <div class="progress alert">
        <span class="meter" style="width: <%= @progress %>%"><%= @progress%>%</span>
      </div>
    <% end %>
  </div>

</div>
