<div id="background">
  <div id="sidebar">
    <img src='<%= @twitter_pic %>' alt="Twitter Profile Pic" class="profile_pic">
    <h5><%= @first_name %></h5>


    <%= link_to 'GitHub Integration', new_github_goal_path, class: 'button' %>
    <%= link_to 'FitBit Integration', '#', class: 'button' %>
    <%= link_to 'GoodReads Int.', '#', class: 'button' %>


  </div>

  <div class="row services" id="github">
    <img src='/assets/github.png' alt="GitHub" id="mini_logo">
    <h5>Current Goal: <%= @current_github_goal %></h5>
    <h5>Commits Today: <%= @todays_commits %></h5>
    <h5>X% of Today's Goal Met</h5>
    <h5>Current Streak:  <%= @current_streak %> | Longest Streak: <%= @longest_streak %> </h5>

    <!-- <h5>Most Prolific @: 3-4 PM | Tuesdays</h5> -->

    <!-- <h3>GitHub</h3> -->
    <!-- <ul class="stack-for-small round secondary button-group">
      <li><a href="#" class="button">Daily</a></li>
      <li><a href="#" class="button">Weekly</a></li>
    </ul> -->
  </div>

  <div class="row services" id="fitbit">
    <img src='/assets/fitbit.png' alt="FitBit" id="mini_logo">
    <div id="coming_soon">COMING SOON</div>
    <!-- <h3>GoodReads</h3> -->
  </div>

  <div class="row services" id="goodreads">
    <img src='/assets/good_reads.png' alt="GoodReads" id="mini_logo">
    <div id="coming_soon">COMING SOON</div>

    <!-- <h3>FitBit</h3> -->
  </div>
</div>
