<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Successive Life" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href="//vjs.zencdn.net/4.10.0/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.10.0/video.js"></script>
  </head>


  <body>
    <%= render partial: 'layouts/navbar', :locals => { :github_goal => @github_goal } %>
    <%= render "layouts/flash" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
